.home {
  text-align: center;
  background: url("../images/home-bg.jpeg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.home .main {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  background-color: rgba(0,0,0,.6);
  height: 400px;
  display:flex;
  align-items: center;
  width: 100%;
}

.home h1, .home h4, .home h3 {
  color: #FFF;
  padding: 10px 0px;
}

.home h1 {
    font-size: 5em;
    font-weight: 500;
}

.home .card {
    opacity: .86;
}
  